<div class="container centered news-list-container">
  <div layout="row" layout-sm="column" layout-wrap>
    <div flex-gt-xs="33" ng-repeat="post in ctrl.postList">
      <a href="#/post/{{post.urlText}}" ui-sref="post({urlText: post.urlText})" class="post-link">
        <md-card>
          <img ng-src=" {{post.titlePhotoUrl}} " class="md-card-image" alt="Washed Out ">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline ">{{post.title}}</span>
              <span class="md-subhead ">{{post.formattedDate}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>{{post.previewText}}</p>
          </md-card-content>
          <md-card-actions layout="row " layout-align="end center ">
            <md-button>Читать далее</md-button>
          </md-card-actions>
        </md-card>
      </a>
    </div>
  </div>
</div>