<div class="container centered news-list-container">
  <div layout="row" layout-sm="column" layout-wrap>
    <div flex-gt-xs="33" ng-repeat="post in ctrl.postList">
      <md-card ui-sref="post({postId: post.id})">
        <img ng-src=" {{post.titlePhotoUrl}} " class="md-card-image" alt="Washed Out ">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline ">{{post.title}}</span>
            <span class="md-subhead ">{{post.formattedDate}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>{{post.previewText}}</p>
        </md-card-content>
        <md-card-actions layout="row " layout-align="end center ">
          <md-button>Читать далее</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>