.gallery-container {
  margin: 10px auto;
}

.gallery-container .image-container {
  padding: 15px 15px 0 0;
}

@media screen and (max-width: 600px) {
  .gallery-container .image-container {
    padding: 15px 0 0 0;
  }
}