
<!-- price title -->
<div class="title-price">
  <div class="container-fluid">
    <div class="row price-list">
      <div class="col-md-12"><h2><b>ПРАЙС ЛИСТ</b></h2></div>
    </div>
  </div>
</div>

<!-- price lists -->
<div class="price-list-table">
<div class="container-fluid center-block">
  <div class="container center-block">
<section id="pricePlans">
    <ul id="plans">

<!-- price1 -->
      <div class="col-md-4">   
        <li class="plan">
          <ul class="planContainer">
            <li class="title"><h2>Прайс 1</h2></li>
            <li class="price"><p>20.000 руб.</p></li>
            <li>
              <ul class="options">
                <li><span id="check"> &#10003; </span>Особенность 1</li>
                <li><span id="check"> &#10003; </span>Особенность 2</li>
                <li><span id="nocheck"> &#10006; </span>Особенность 3</li>
                <li><span id="nocheck"> &#10006; </span>Особенность 4</li>
                <li><span id="check"> &#10003; </span>Особенность 5</li>
                <li><span id="check"> &#10003; </span>Особенность 6</li>
              </ul>
            </li>

            <li class="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-2">
              <a href="#">ЗАКАЗАТЬ</a>
            </li>

            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg-2" tabindex="-1" role="dialog" 
            aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><b>Прайс 1</b></h4>
                </div>
                <div class="modal-body">
                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><b>ОФОРМИТЬ ЗАКАЗ</b></button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

<!-- price2 -->
   <div class="col-md-4">   
        <li class="plan">
          <ul class="planContainer">
            <li class="title"><h2>Прайс 2</h2></li>
            <li class="price"><p>30.000 руб.</p></li>
            <li>
              <ul class="options">
                <li><span id="check"> &#10003; </span>Особенность 1</li>
                <li><span id="check"> &#10003; </span>Особенность 2</li>
                <li><span id="nocheck"> &#10006; </span>Особенность 3</li>
                <li><span id="nocheck"> &#10006; </span>Особенность 4</li>
                <li><span id="check"> &#10003; </span>Особенность 5</li>
                <li><span id="check"> &#10003; </span>Особенность 6</li>
              </ul>
            </li>

            <li class="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-3">
              <a href="#">ЗАКАЗАТЬ</a>
            </li>

            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg-3" tabindex="-1" role="dialog" 
            aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><b>Прайс 2</b></h4>
                </div>
                <div class="modal-body">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><b>ОФОРМИТЬ ЗАКАЗ</b></button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

<!-- price3 -->
   <div class="col-md-4">   
        <li class="plan">
          <ul class="planContainer">
            <li class="title"><h2>Прайс 3</h2></li>
            <li class="price"><p>40.000 руб.</p></li>
            <li>
              <ul class="options">
                <li><span id="check"> &#10003; </span>Особенность 1</li>
                <li><span id="check"> &#10003; </span>Особенность 2</li>
                <li><span id="nocheck"> &#10006; </span>Особенность 3</li>
                <li><span id="nocheck"> &#10006; </span>Особенность 4</li>
                <li><span id="check"> &#10003; </span>Особенность 5</li>
                <li><span id="check"> &#10003; </span>Особенность 6</li>
              </ul>
            </li>

            <li class="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
              <a href="#">ЗАКАЗАТЬ</a>
            </li>

            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" 
            aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><b>Прайс 3</b></h4>
                </div>
                <div class="modal-body">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><b>ОФОРМИТЬ ЗАКАЗ</b></button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
</div>
</div>
</ul> 
</section>

<!-- more information about prices -->
<div class="container price-list-end">
  <h2>ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ ПО ЦЕНАМ</h2>
</div>
