<div class="price-list-container">
  <div class="container center-block">
    <div class="price-list-title">
      <h2>Стоимость услуг и работ</h2>
    </div>
    <div class="price-list-content">
      <div class="price-group" ng-repeat="group in ctrl.priceGroups">
        <div class="heading-text">{{group.title}}</div>
        <table class="table table-hover table-responsive price-table">
          <thead>
            <tr>
              <td>Название</td>
              <td>Единицы</td>
              <td>Цена</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="priceItem in group">
              <td class=" col-md-8 ">{{priceItem.name}}</td>
              <td class="col-md-2 ">{{priceItem.units}}</td>
              <td class="col-md-2 ">{{priceItem.cost}}</td>
            </tr>
          </tbody>
        </table>
        {{group.notesText}}
      </div>
    </div>
  </div>
</div>