<div class="price-list-container">
  <div class="container center-block">
    <div class="price-list-title">
      <h2>Прайс лист</h2>
    </div>
    <section class="price-plans">
      <div class="col-md-4">
        <div class="plan-container">
          <div class="price-title">
            <h2>Прайс 1</h2>
            <p>200</p>
          </div>
          <ul class="options">
            <li><span id="check"> &#10003; </span>Особенность 1</li>
            <li><span id="check"> &#10003; </span>Особенность 2</li>
            <li><span id="nocheck"> &#10006; </span>Особенность 3</li>
            <li><span id="nocheck"> &#10006; </span>Особенность 4</li>
            <li><span id="check"> &#10003; </span>Особенность 5</li>
            <li><span id="check"> &#10003; </span>Особенность 6</li>
          </ul>
          <div class="request-button" class="btn btn-primary">
            <a href="">ЗАКАЗАТЬ</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>