<md-content flex>
  <div class="col-md-2 administration-menu-container">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
      <span>Панель управления</span>
    </h2>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-list-item class="md-3-line administration-menu-item">
          <a ui-sref="administration.works" class="item-text">
            Работы
          </a>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line administration-menu-item">
          <a ui-sref="administration.price" class="item-text">
            Прайс лист
          </a>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line administration-menu-item">
          <div class="item-text" ng-click="ctrl.logOut()">
            Выход
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <div class="col-md-10">
    <ui-view></ui-view>
  </div>
</md-content>