body {
  min-height: 100%;
  padding: 0;
  position: relative;
  font-family: 'clear_sans_lightregular';
  background: #fafafa;
  font-size: 18px;
  color: #171717;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container-fluid {
  padding: 0;
}

.main-container {
  min-height: 100%;
  margin-bottom: -120px;
}

.centered {
  float: none;
  margin: 0 auto;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #77aabb;
  color: white;
  transition: background-color .4s ease;
}

.navbar-default .navbar-nav > li.active a {
  background: #fff;
}

.navbar-bottom {
  float: none;
  display: inline;
  margin: 0 20px;
  vertical-align: middle;
}

.address-container {
  text-align: right;
  padding: 0;
}

.address-container a.request-button {
  background: #6db5d2;
  margin: 19px 0;
  font-size: 21px;
  word-wrap: break-word;
  color: #fff;
  padding: 13px 25px;
  line-height: 1.3;
  text-transform: capitalize;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .4s ease;
}

.address-container a.request-button:hover {
  background: #84cdea;
}

.address-panel {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  background: #f3f6f7;
}

.address-panel .adress {
  font-size: 18px;
  font-family: calibri;
  line-height: 21px;
  height: 90px;
  position: relative;
  width: auto;
  display: inline-block;
  margin-right: 15px;
}

.address-panel .adress .phone {
  display: inline-block;
  font-size: 22px;
  margin-top: 19px;
  width: auto;
}

.address-panel .adress .phone p {}

.stripe-adress {
  padding-left: 0;
  padding-right: 0;
  color: #4B666E;
  position: relative;
}

@media screen and (max-width:991px) {
  .request-button {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .header {
    display: none;
  }
}

.logo {
  font-family: 'clear_sansregular';
  line-height: 90px;
  vertical-align: middle;
  text-align: left;
  padding: 0;
}

.logo a {
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
  color: #4B666E;
}

.logo a:hover {
  background: transparent;
}

.sub-category-list {
  padding: 00;
  margin: 0;
}

.sub-category-list li {
  display: block;
  text-decoration: none;
  background-color: white;
}

.sub-category-list li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  font-family: calibri;
  font-size: 19px;
  color: #7F7F7F;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-category-list li a:hover,
.sub-category-list li a.active {
  text-decoration: none;
  font-family: calibri;
  font-size: 19px;
  background-color: #0176C6;
  color: white;
  transition: background-color .4s ease;
}

.ulist {
  padding: 55px 5px 50px 40px;
}

.on-top {
  color: #016ABD;
  padding: 14px;
  float: right;
  text-align: center;
  background-color: #f3f6f7;
}

.on-top:hover {
  background-color: #016ABD;
  color: white;
  transition: background-color .4s ease;
}

.navbar-primary {
  background-color: white;
  font-family: calibri;
  font-size: 16px;
  margin: 0;
}

.navbar-primary .navbar-nav > li > a {
  color: #017CCC;
  font-size: 18px;
}

.navbar-primary .navbar-nav > li > a:hover {
  background-color: #FFE401;
  color: #017CCC;
  transition: background-color .4s ease;
}

.button-wide {
  width: 200px;
  margin: 0 auto;
}

.push,
.footer-container {
  height: 120px;
}

.footer-container {
  display: inline-block;
  width: 100%;
  background: #6db5d2;
  z-index: 100;
}

.footer-navbar {
  height: 50px;
  background: #fff;
}

.footer-navbar a {
  color: #016ABD;
}

.navbar-brand {
  font-size: 1.5em;
  line-height: 0.7em;
  color: white;
  padding-left: 1em;
}

.login-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.login-container .login-box {
  max-width: 500px;
}

.login-container .login-box h2 {
  text-align: center;
}

.login-container .login-box .button-panel {
  padding-top: 20px;
}

.login-container .login-box .message-text {
  color: crimson;
}

.administration-menu-container {
  padding: 0;
}

md-list-item.administration-menu-item {
  min-height: 0;
  padding: 0;
  cursor: pointer;
}

md-list-item.administration-menu-item .item-text {
  padding: 20px;
  font-size: 15px;
  width: 100%;
  color: #222;
  text-decoration: none;
}

md-list-item.administration-menu-item .item-text.active {
  background: #eee;
}

md-list-item.administration-menu-item .item-text:hover {
  background: #eee;
}

@media screen and (min-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

.md-list-item.administration-menu-item .item-text:focus {
  outline: 0;
}

.about-panel-save-button {
  margin: 10px 0;
  float: right;
}

.not-found-container {
  position: fixed;
  min-height: 100%;
  width: 100%;
}

.not-found-container .not-found-text {
  margin: 100px 0;
  text-align: center;
  width: 100%;
}

.not-found-container .not-found-text h1 {
  font-size: 72px;
}

md-card img {
  height: auto !important;
}

.hero-header {
  width: 100%;
  height: auto;
  position: relative;
}

.hero-image {
  width: 100%;
}

.hero-text {
  text-align: center;
  margin-bottom: 30px;
  color: #d8d8d8;
  font-family: 'clear_sansregular';
}

.benefits-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 220;
}

.benefits-container .benefits .header {
  display: table-cell;
  float: none;
  vertical-align: middle;
  height: 100%;
  padding: 0;
}

.benefits-container .benefits .header .header-wrapper {
  /* width: 80%; */
  height: 100%;
  padding: 0 15px;
  position: relative;
  background: rgba(17, 34, 51, 0.7);
  vertical-align: top;
}

.benefits-container .benefits .header .header-wrapper .title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.benefits-container .benefits .header .header-wrapper h2 {
  line-height: 1.3em;
  color: #bbdddd;
  vertical-align: middle;
  display: inline-block;
  font-size: 36px;
}

.benefits-container .benefits .triangle {
  display: inline-block;
  width: 18%;
  box-sizing: border-box;
  color: #000;
  height: 100%;
}

.benefits-container .benefits .benefit {
  padding-bottom: 10px;
}

.benefits-container .benefits .benefit h3 {
  font: 24px/1.3 'clear_sansregular';
}

.benefits-container .benefits .benefit span {
  font-size: 17px;
  line-height: 1.3;
}

.benefits-container .benefits {
  background: rgba(119, 170, 187, 0.9);
  color: #fff;
  position: relative;
  display: table;
  height: 100%;
}

.benefits-container .benefits-list h3 {
  height: 100px;
}

@media screen and (max-width:991px) {
  .benefits-container {
    position: relative;
    transform: none;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: none;
  }
  .benefits-container .benefits {
    display: block;
    height: auto;
    background-color: inherit;
    color: #555;
  }
  .benefits-container .benefits .header {
    height: auto;
    display: block;
  }
  .benefits-container .benefits .header .header-wrapper {
    width: 100%;
    min-height: 100px;
    display: block;
    text-align: center;
    height: auto;
    margin-top: -100px;
  }
  .benefits-container .benefits .header .triangle {
    width: 100%;
    height: auto;
    display: block;
  }
  .benefits-container .benefits .header .header-wrapper .title {
    transform: none;
    top: 0;
    position: relative;
    display: inline-block;
  }
  .benefits-container .benefits-list {
    text-align: center;
    margin-bottom: 25px;
  }
  .benefits-container .benefits-list .benefit {
    margin-top: 45px;
    height: 125px;
  }
  .benefits-container .benefits-list .benefit h3 {
    height: auto;
  }
  .benefits-container .benefits-list .benefit span {
    font-size: 17px;
    line-height: 1.3;
  }
}

@media screen and (max-width:767px) {
  .benefits-container .benefits .header .header-wrapper {
    margin-top: 0;
  }
}

@media screen and (min-width:767px) {
  .overlay {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 34, 51, 0.9);
  }
  .overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    text-indent: ;
    outline: none;
    z-index: 100;
    background: transparent;
    color: #fff;
  }
  .overlay nav {
    text-align: center;
    position: relative;
    height: 50%;
    transform: translate(0, 50%);
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
  }
  .overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
    backface-visibility: hidden;
  }
  .overlay ul li a {
    font-size: 34px;
    font-weight: 300;
    display: block;
    color: #ddd;
    transition: color 0.2s;
  }
  .overlay ul li a:hover,
  .overlay ul li a:focus {
    color: #f0f0f0;
    background: transparent;
  }
  .overlay-scale {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  }
  .overlay-scale.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;
  }
  @media screen and (max-height: 30.5em) {
    .overlay nav {
      height: 70%;
      font-size: 34px;
    }
    .overlay ul li {
      min-height: 34px;
    }
  }
  .responsive-menu-button {
    height: 90px;
    width: 90px;
    background: transparent;
    border: none;
    outline: none;
  }
}

.main-gallery .photo {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 200px;
}

.main-gallery-button-container {
  height: 200px;
  width: 100%;
  text-align: center;
  line-height: 200px;
}

.main-gallery-button-container .gallery-button {
  display: inline;
  padding: 20px 33px;
  border: 2px solid #9ecfe0;
  color: #366877;
  font-size: 22px;
  transition: .4s all ease;
}

.main-gallery-button-container .gallery-button:hover {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12);
  text-decoration: none;
}

.tile-block {
  -webkit-box-shadow: 0px 0px 70px -40px rgba(58, 58, 59, 1);
  -moz-box-shadow: 0px 0px 70px -40px rgba(58, 58, 59, 1);
  box-shadow: 0px 0px 70px -40px rgba(58, 58, 59, 1);
}

.about-block {
  background: #fff;
  -webkit-box-shadow: 0px 0px 70px -40px rgba(58, 58, 59, 1);
  -moz-box-shadow: 0px 0px 70px -40px rgba(58, 58, 59, 1);
  box-shadow: 0px 0px 70px -40px rgba(58, 58, 59, 1);
}

.about-container {
  padding-bottom: 20px;
}

.about-container .row {
  height: 150px;
}

.about-container .about-text {
  height: 100%;
}

.about-container .about-icon {
  color: #6db5d2;
  height: 100%;
  text-align: center;
}

.about-container .about-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-container .about {
  padding: 0;
  height: 100%;
}

.about-container .about.about-left {
  text-align: right;
}

.about-container .about.about-right {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .about-container .row {
    height: 300px;
  }
  .about-container .about{
    height: 50%;
  }
}