<div class="worktypes-container">
  <div class="worktypes-tabs">
    <div class="container">
      <a href="#/house/{{tab.urlText}}" class="worktype-tab col-xs-4 col-sm-4 col-md-4" ng-class="{'active': tab.active}" ng-repeat="tab in ctrl.workTypes">
        <div class="tab-icon">
          <image ng-src="{{tab.thumbSrc}}" alt=""></image>
        </div>
        <div class="tab-title">{{tab.thumbText}}</div>
      </a>
    </div>
  </div>
  <ng-include src="'app/components/worktypes/views/worktype.template.html'" onload="ctrl.initMagnific()"></ng-include>
</div>