<div class="worktypes-container">
  <div class="worktypes-tabs">
    <div class="container">
      <a href="#/works/{{tab.urlText}}" ui-sref="works({workTitle: tab.urlText})" class="worktype-tab col-md-1 col-sm-2 col-xs-4" ng-class="{'active': tab.active}" ng-repeat="tab in ctrl.workTypes">
        <div class="tab-icon">
          <image ng-src="{{tab.thumbSrc}}" alt=""></image>
        </div>
        <div class="tab-title">{{tab.thumbText}}</div>
      </a>
    </div>
  </div>
  <ng-include src="'app/components/worktypes/views/worktype.template.html'" onload="ctrl.initMagnific()"></ng-include>
</div>