.worktypes-container {}

.worktypes-tabs {
  background: #F5FAFC;
  overflow: hidden;
  position: relative;
}

.worktype-tab {
  /* display: inline-block; */
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px;
  margin-top: 10px;
}

.worktype-tab:hover {
  text-decoration: none;
  background: #fff;
}

.worktype-tab .tab-icon img {
  fill: red !important;
  height: 50px;
}

.worktype-tab .tab-title {
  margin-top: 10px;
  text-align: center;
}

.worktype-tab.active {
  background: #fafafa;
  box-shadow: 0px 0px 12px 0px rgba(69, 102, 116, 0.2);
}

.worktypes-content {
  margin-top: 25px;
}

.heading-text {
  font-family: Arial, sans-serif;
  font-size: 22px;
  line-height: 1.428571429;
  color: #444;
  line-height: 1.4em;
  border-bottom: 2px solid #bbdddd;
  margin: 10px 0 25px;
}

.description-text {}

.worktype-image {
  padding: 5px 25px 25px 0px;
  width: 30%;
}

.gallery-photos {
  margin-bottom: 25px;
}

.worktype-tiles-container {}

.worktype-tiles-container.house {
  margin-top: 20px;
}

.worktype-tiles-container .tile-container {
  padding-bottom: 40px;
  display: block;
  text-align: center;
}

.worktype-tiles-container .tile-container .title image {}

.worktype-tiles-container .tile-container .title {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.tile-header {
  width: 100%;
  text-align: center;
  margin: 35px 0;
  color: #555;
}