<div class="col-md-4">
  <md-input-container md-no-float class="md-block">
    <input ng-model="ctrl.mainInfo.phone" type="text" placeholder="Телефон">
  </md-input-container>
  <md-input-container md-no-float class="md-block">
    <input ng-model="ctrl.mainInfo.address" type="text" placeholder="Адрес">
  </md-input-container>
  <md-input-container md-no-float class="md-block">
    <input ng-model="ctrl.mainInfo.schedule" type="text" placeholder="График работы">
  </md-input-container>
  <md-button class="md-raised md-primary button-wide" ng-click="ctrl.saveMainInfo($event)">Сохранить</md-button>
</div>