<div class="price-list-container">
  <div class="container center-block">
    <div class="price-list-title">
      <h2>Редактирование прайс листа</h2>
    </div>
    <section class="price-plans">
      <div class="col-md-4" ng-repeat="item in ctrl.priceList | limitTo: 3 ">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{item.title}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-input-container>
              <label>Заголовок</label>
              <input ng-model="item.title">
            </md-input-container>
            <md-input-container>
              <label>Цена</label>
              <input ng-model="item.price">
            </md-input-container>
            <md-input-container ng-repeat="option in item.options">
              <label>Элемент</label>
              <input ng-model="option">
            </md-input-container>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="ctrl.savePriceItem(item)">Сохранить</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </section>
  </div>
</div>