<div class="hero-header">
  <img src="assets/img/bg.jpg" alt="" class="hero-image">
  <div class="container benefits-container">
    <div class="benefits row">
      <div class="col-md-3 header">
        <div class="header-wrapper">
          <h2>Почему выбирают нас</h2>
        </div>
        <div class="triangle">&nbsp;</div>
      </div>
      <div class="col-md-9 benefits-list">
        <div class="row">
          <div class="col-md-3">
            <h3>Бесплатный выезд специалиста на осмотр</h3>
            <p>Мы не берем оплату за консультации, расчеты и оценку объема работ.</p>
          </div>
          <div class="col-md-3">
            <h3>Приемлемые <br class="hidden-xs hidden-sm">цены</h3>
            <p>И не только. Предусмотрена гибкая система скидок.</p>
          </div>
          <div class="col-md-3">
            <h3>Любой район. Москва и область</h3>
            <p>Выезжаем работать в любую точку города и области благодаря большому парку собственных автомобилей.</p>
          </div>
          <div class="col-md-3">
            <h3>Работаем без выходных</h3>
            <p>Поэтому вы можете вызвать мастера в действительно удобное для вас время.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>