<div class="hero-header">
  <img src="assets/img/bg.jpg" alt="" class="hero-image hidden-xs">
  <div class="container benefits-container md-whiteframe-9dp">
    <!--h1 class="hero-text">Сантехнические работы в Могилеве</h1-->
    <div class="benefits row">
      <div class="header col-md-3 col-sm-12">
        <div class="header-wrapper">
          <div class="title">
            <h2>Почему выбирают нас</h2>
          </div>
        </div>
        <div class="triangle">
          <div></div>
        </div>
      </div>
      <div class="col-md-12 benefits-list">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 benefit">
            <h3>Бесплатный осмотр специалистом</h3>
            <span>Мы не берем оплату за консультации, расчеты и оценку объема работ.</span>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 benefit">
            <h3>Приемлемые <br class="hidden-xs hidden-sm">цены</h3>
            <span>И не только. Предусмотрена гибкая система скидок.</span>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 benefit">
            <h3>Любой район. Могилев и область</h3>
            <span>Выезжаем работать в любую точку города и области.</span>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 benefit">
            <h3>Работаем без выходных</h3>
            <span>Поэтому вы можете вызвать мастера в действительно удобное для вас время.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tile-header page-header">
    <h1>Виды работ</h1>
  </div>
  <div>
    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="worktype-tiles-container house">
        <div class="col-xs-4 col-sm-4 col-md-12 tile-container" ng-repeat="houseType in ctrl.houseWorkTypes">
          <a href="#/house/{{houseType.urlText}}" ui-sref="houseWorks({workTitle: houseType.urlText})" class="tile">
            <image ng-src="{{houseType.thumbSrc}}" alt=""></image>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="worktype-tiles-container">
        <div class="col-xs-4 col-sm-4 col-md-3 tile-container" ng-repeat="basicType in ctrl.baseWorkTypes">
          <a href="title" href="#/works/{{basicType.urlText}}" ui-sref="works({workTitle: basicType.urlText})">
            <image ng-src="{{basicType.thumbSrc}}" alt=""></image>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tile-header page-header">
    <h1>Почему выбирают нас</h1>
  </div>
  <div class="row">
    <div class="col-md-9">
      <p>Потому что у нас Саня и Вовка</p>
    </div>
    <div class="col-md-3">
      <img src="{{ctrl.info.aboutPhotoUrl}}" alt="картинка">
    </div>
  </div>
</div>
<div class="container">
  <div class="tile-header page-header">
    <h1>Фото работ</h1>
  </div>
  <div class="main-gallery clearfix">
    <a class="photo col-xs-6 col-sm-4 col-md-3" href='{{photo.src}}' style="background-image: url('{{photo.src}}'" ng-repeat="photo in ctrl.gallery | limitTo: 12">
    </a>
  </div>
  <div class="main-gallery-button-container">
    <a href="#/gallery" ui-sref="gallery" class="gallery-button">
        Смотреть все фото
    </a>
  </div>
</div>